# Configuración del servidor
PORT=3000
NODE_ENV=production

# Dominio (para generar links correctos)
DOMAIN=https://www.beatosabor.com

# Credenciales del supervisor
ADMIN_USER=supervisor
ADMIN_PASS=CambiarEstaContraseña123!

