# Configuración del servidor
PORT=3000
NODE_ENV=production

# Dominio (para generar links correctos)
DOMAIN=https://www.beatosabor.com

# Credenciales del supervisor
ADMIN_USER=supervisor
ADMIN_PASS=CambiarEstaContraseña123!

# MySQL (Railway)
# Usar MYSQL_PUBLIC_URL para conexión externa (desarrollo local)
# Usar MYSQL_URL para conexión interna (cuando la app está en Railway)
MYSQL_PUBLIC_URL=mysql://root:PASSWORD@switchback.proxy.rlwy.net:18331/railway
MYSQL_URL=mysql://root:PASSWORD@mysql.railway.internal:3306/railway
